|LF_LEVEL|
<!-- INICIO SUB MENU ======================================= -->

<nav class="sub-nav noselect">

	<!-- perfil -->

	<div class="sv-perfil" ng-show="controlPerfil">
		<ul>
			<li>

				<!-- boton mi nick -->
				<label for="show" class="ep-boton" ng-click="menu_boton_estado_perfil = !menu_boton_estado_perfil">
					<div class="epb-contenido">
						<span>|USERNAME|</span>
						|*if NEWMESSAGES!="0"|
						<span class="comentarios-cantidad">|NEWMESSAGES|</span>|*endif|

					</div>
				</label>

				<!-- sub-menu boton mi nick -->

				<ul class="ng-hide" ng-show="menu_boton_estado_perfil">
					<li>
						<a href="/HTM_PASSWD">Password</a>
					</li>
					<li>
						<a href="/CMD_TICKET?sort1=-1">Messages</a>
					</li>
					<li>
						<a href="/CMD_LOGOUT">Log out</a>
					</li>
				</ul>

			</li>
		</ul>
	</div>

	<!-- nivel usuario -->

	<div class="sv-funciones">
		<ul>
			<!-- admin / reseller / user -->
			<li>

				<!-- boton nivel usuario -->
				<label class="svf-boton" ng-click="menu_boton_nivel_usuario = !menu_boton_nivel_usuario">
					<div class="svfb-nivel-usuario">
						Admin
					</div>
				</label>

				<!-- sub-menu boton nivel usuario -->

				<ul class="ng-hide" ng-show="menu_boton_nivel_usuario">
					<li>
						<a href="/">Admin</a>
					</li>
					<li>
						<a href="/HTM_INDEX_RESELLER">Reseller</a>
					</li>
					<li>
						<a href="/HTM_INDEX_USER">User</a>
					</li>
				</ul>

			</li>
		</ul>
	</div>
</nav>


		<!-- INICIO CONTENIDO ======================================= -->

		<div class="contenedor">

			<!-- CONTENIDO IZQ (Stats) -->

			<div class="contenedor-izq">
				<div class="left-content">

					<div class="lc-titulo">
		            	<h3>Quick Links</h3>
		            </div>  
					<div class="lc-content">
						<div class="lc-content--links">
							<ul>
								<li><a href="/|HOME_MEMORY|"><span>Home</span></a></li>
								<li><a href="/CMD_FILE_MANAGER"><span>File Manager</span></a></li>
								<li><a href="http://|HELP_SECTION|"><span>Help</span></a></li>
								<li><a href="|HTTP|://|HOSTNAME|/phpmyadmin"><span>PhpMyAdmin</span></a></li>
								<li><a href="|WEBAPPS_SSL|://|HOSTNAME|/|WEBMAIL_LINK|"><span>Webmail</span></a></li>
							</ul>
						</div>
					</div>

					<div class="lc-titulo">
		            	<h3>Stats</h3>
		            </div> 
					<div class="lc-content">

						<h4>Disk Space Used</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>
									{{ |ADMINQUOTA| / 1024 | number:0 }} Gb
									</p>
							</div>
						</div>

						<h4>Bandwidth Used</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>
									{{ |ADMINBANDWIDTHGIG| | number:0}} Gb
									</p>
							</div>
						</div>

						<h4>Domain Used</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINDOMAINS|</p>
							</div>
						</div>

						<h4>Admin Users</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINUSERS|</p>
							</div>
						</div>

						<h4>Reseller Users</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINRESELLERS|</p>
							</div>
						</div>

						<h4>Databases</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINDATABASE|</p>
							</div>
						</div>

						<h4>FTP Accounts</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINFTP|</p>
							</div>
						</div>

						<h4>Email Accounts</h4>
						<div class="lc-content--bar">
							<div class="bar">
								<progress max="100" value="100"></progress>
							</div>
							<div class="bar-details">
								<p>|ADMINEMAIL|</p>
							</div>
						</div>

					</div>

				</div>
			</div><!-- fin contenedor-izq -->

				<div class="contenedor-der">
					<div class="box-content">
						<div class="bc-padding">
