|LF_LEVEL|

<!-- INICIO SUB MENU ======================================= -->

<nav class="sub-nav noselect">

	<!-- perfil -->

	<div class="sv-perfil" ng-show="controlPerfil">
		<ul>
			<li>

				<!-- boton mi nick -->
				<label for="show" class="ep-boton" ng-click="menu_boton_estado_perfil = !menu_boton_estado_perfil">
					<div class="epb-contenido">
						<span>|USERNAME|</span>
						|*if NEWMESSAGES!="0"|
						<span class="comentarios-cantidad">|NEWMESSAGES|</span>|*endif|

					</div>
				</label>

				<!-- sub-menu boton mi nick -->

				<ul class="ng-hide" ng-show="menu_boton_estado_perfil">
					<li>
						<a href="/HTM_PASSWD">Password</a>
					</li>
					<li>
						<a href="/CMD_TICKET?sort1=-1">Messages</a>
					</li>
					<li>
						<a href="/CMD_LOGOUT">Log out</a>
					</li>
				</ul>

			</li>
		</ul>
	</div>

	<!--  nivel usuario -->

	<div class="sv-funciones">
		<ul>
			<!-- admin / reseller / user -->
			<li>

				<!-- boton nivel usuario -->
				<label class="svf-boton" ng-click="menu_boton_nivel_usuario = !menu_boton_nivel_usuario">
					<div class="svfb-nivel-usuario">
						User
					</div>
				</label>

				<!-- sub-menu boton nivel usuario -->

				<ul class="ng-hide" ng-show="menu_boton_nivel_usuario">
					<li>
						<a href="/HTM_INDEX_RESELLER">Reseller</a>
					</li>
					<li>
						<a href="/HTM_INDEX_USER">User</a>
					</li>
				</ul>

			</li>
		</ul>
	</div>
</nav>

<!-- INICIO CONTENIDO ======================================= -->

<div class="contenedor">

	<!-- CONTENIDO IZQ (Stats) -->

	<div class="contenedor-izq">
		<div class="left-content">

			<div class="lc-titulo">
				<span class="icon-flash-on"></span>
            	<h3>Quick Links</h3>
          	</div>  
			<div class="lc-content">
				<div class="lc-content--links">
					<ul>
						<li><a href="/|HOME_MEMORY|"><span>Home</span></a></li>
						<li><a href="/CMD_FILE_MANAGER"><span>File Manager</span></a></li>
						<li><a href="http://|HELP_SECTION|"><span>Help</span></a></li>
						<li><a href="|HTTP|://|HOSTNAME|/phpmyadmin"><span>PhpMyAdmin</span></a></li>
						<li><a href="|WEBAPPS_SSL|://|HOSTNAME|/|WEBMAIL_LINK|"><span>Webmail</span></a></li>
					</ul>
				</div>
			</div>

			<div class="lc-titulo">
				<span class="icon-info"></span>
            	<h3>Current domain</h3>
          	</div> 
	        <div class="lc-content">
	        	<div class="lc-content--datos">
				<p>
|*if DOMAIN=""|
					None
|*else|
					|ALL_DOMAINS_SELECT|
|*endif|
				</p>
	        	</div>
	        </div> 

			<div class="lc-titulo">
				<span class="icon-poll"></span>
            	<h3>Stats</h3>
          	</div> 
			<div class="lc-content">

				<h4>Disk Space</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERQUOTAMAX|" value="|USERQUOTA|"></progress>
					</div>
					<div class="bar-details">
						<p>{{|USERQUOTA|/1024 | number:1 }} MB / |USERQUOTAMAX|</p>
					</div>
				</div>

				<h4>Bandwidth</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERBANDWIDTHMAXGIG|" value="|USERBANDWIDTHGIG|"></progress>
					</div>
					<div class="bar-details">
						<p>{{|USERBANDWIDTHGIG| | number:0}} Gb / |USERBANDWIDTHMAXGIG|</p>
					</div>
				</div>

				<h4>Database</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERDATABASEMAX|" value="|USERDATABASE|"></progress>
					</div>
					<div class="bar-details">
						<p>|USERDATABASE| / |USERDATABASEMAX|</p>
					</div>
				</div>

				<h4>FTP users</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERFTPMAX|" value="|USERFTP|"></progress>
					</div>
					<div class="bar-details">
						<p>|USERFTP| / |USERFTPMAX|</p>
					</div>
				</div>

				<h4>Accounts Emails</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USEREMAILMAX|" value="|USEREMAIL|"></progress>
					</div>
					<div class="bar-details">
						<p>|USEREMAIL| / |USEREMAILMAX|</p>
					</div>
				</div>

				<h4>Email Forwarder</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERFORWARDERMAX|" value="|USERFORWARDER|"></progress>
					</div>
					<div class="bar-details">
						<p>|USERFORWARDER| / |USERFORWARDERMAX|</p>
					</div>
				</div>

				<h4>Auto Responder</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|USERRESPONDERMAX|" value="|USERRESPONDER|"></progress>
					</div>
					<div class="bar-details">
						<p>|USERRESPONDER| / |USERRESPONDERMAX|</p>
					</div>
				</div>

				<h4>Domains</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|NDOMAINSMAX|" value="|NDOMAINS|"></progress>
					</div>
					<div class="bar-details">
						<p>|NDOMAINS| / |NDOMAINSMAX| </p>
					</div>
				</div>

				<h4>Sub Domains</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|NUSERSUBDOMAINSMAX|" value="|NUSERSUBDOMAINS|"></progress>
					</div>
					<div class="bar-details">
						<p>|NUSERSUBDOMAINS| / |NUSERSUBDOMAINSMAX|</p>
					</div>
				</div>

			</div>

		</div>
	</div><!-- fin contenedor-izq -->

	<div class="contenedor-der">
		<div class="box-content">
			<div class="bc-padding">
